$('#outPutResult').html(
"<% if @map.length > 0  %>"+
"<table class='table table-responsive'>"+
    "<thead>"+
      "<tr>"+
        "<td class='col-md-2'><label class='label label-info'>中文字</label></td>"+
        "<td><label class='label label-info'>片假名讀音</label></td>"+
      "</tr>"+
    "</thead>"+
    "<tbody>"+
      "<% @map.each do |f| Rails.logger.warn 'ZZCZXC'%>"+
        "<tr>"+
          "<td><label class='label label-default'><%= f.chinese %></label></td>"+
          "<td> <% f.japanese.each do |jp| %> <% if jp.index('漢字') %>" + 
          "<label class='label label-danger'> <%= jp.sub! '漢字', '推薦使用' %> <%else%> <label class='label label-default'> <%= jp %> <% end %>  </label> <% end %> </td>"  +  
        "</tr>"+
      "<% end %>"+
    "</tbody>"+
  "</table>"+
  "<% end%>"+
  "</div>");