  //alert("dasdas");


$('#recentList').html(
    		 "<div id='sidebar-wrapper'>"+
            "<ul class='sidebar-nav'>"+
                "<li class='sidebar-brand'>"+
                    "<a>"+
                        "最新查詢關鍵字列表"+
                    "</a>"+
                "</li>"+
                "<% UserInput.order('created_at DESC').limit(10).each do |f| %>"+
		        "<li href='/''>"    +
		          "<a><%= f.input %></a>"    +
		        "</li>"+
		      "<% end %>"   +   
            "</ul>"+
        "</div>"
    		);



